<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Регистрация</title>
</head>
<body>
<p>Регистрация</p>
<form action="/signup" method="post">
    <input type="text" name="login" placeholder="Login" maxlength="50" required/><br>
    <input type="password" name="password" placeholder="Password" maxlength="50" required/><br>

    <input type="email" name="email" placeholder="E-mail address" maxlength="255" required/><br>
    <input type="text" name="firstname" placeholder="Firstname" maxlength="50" required/><br>
    <input type="text" name="lastname" placeholder="Lastname" maxlength="50" required/><br>

    <input type="submit" value="Sign up"/>
</form>
</body>
</html>