<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <div th:replace="fragments/header :: header"></div>
        <div th:if="${not #list.isEmpty(notes)}">
            <div th:replace="operations/list :: notebook"></div>
        </div>
        <div th:replace="fragments/footer :: footer"></div>
    </div>
</body>
</html>