<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gondor's Beacon</title>
</head>
<body>
<img th:src="@{/images/amondin.png}"/>
<h1>List of bells</h1>
<div>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Creation_Date</th>
        </tr>
        <tr th:each="bell : ${bellList}">
            <td th:text="${bell.getId()}"/>
            <td th:text="${#temporals.format(bell.getCreationDate(), 'dd-MM-yyyy HH:mm:ss')}"/>
        </tr>
    </table>
</div>
</body>
</html>