<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AmonDin</title>
</head>
<body>
    <h1>Registration</h1>
    <img th:src="@{/images/amondin.png}"/>
    <form method="POST" th:action="@{/registration}" id="registrationForm">
        <label for="username">Username: </label>
        <input type="text" name="username"/><br/>
        <label for="password">Password: </label>
        <input type="password" name="password"/><br/>
        <label for="confirm">Confirm password: </label>
        <input type="password" name="confirm"/><br/>
        <input type="submit" value="Register"/>
    </form>
</body>
</html>